@use "../../styles/variables" as *;

button {
  all: unset;

  width: 200px;
  height: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 55px;

  color: $white;

  background-color: $blue500;

  transition: background-color 0.3s;

  &:hover {
    background-color: $blue300;
    cursor: pointer;
  }
}
