@use "../../styles/variables" as *;

/* Small devices (landscape phones, 576px and up) */
.providers {
  width: 100%;

  margin: 0 auto;
  margin-top: 110px;

  padding: 0 2rem;

  display: flex;
  flex-direction: column;
}

.provider-image {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    object-fit: contain;

    width: 500px;
    max-width: 100%;
    height: auto;
  }
}

.provider-info {
  margin-top: 48px;

  h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  p {
    color: $gray500;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 2rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) {
  .providers {
    width: 100%;
    height: 477px;

    padding: 0;
    margin-top: 110px;

    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .provider-info {
    margin-top: 0;

    flex: 1;

    padding-left: 120px;
  }

  .provider-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & img {
      object-fit: contain;

      height: 477;
      width: auto;
    }
  }
}
