@use "../../styles/variables" as *;

/* Small devices (landscape phones, 576px and up) */
.download {
  width: 100%;
  // height: 477px;

  padding: 0 2rem;
  margin-top: 160px;

  display: flex;
  flex-direction: column-reverse;
  // border: 1px solid red;
}

.download-image {
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    object-fit: contain;

    width: 500px;
    max-width: 100%;
    height: auto;
  }
}

.download-info {
  margin-top: 48px;

  h2 {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    width: 80%;
  }

  p {
    color: $gray500;
    font-size: 1.2rem;
    line-height: 1.5;
    padding-top: 2rem;
  }

  // border: 1px solid blue;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1440px) {
  .download {
    padding: 0;

    width: 100%;
    height: 477px;

    margin-top: 160px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .download-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & img {
      object-fit: contain;

      height: 477;
      width: auto;
    }
  }

  .download-info {
    margin-top: 0;
    flex: 1;

    padding-right: 80px;
  }
}
