@use "../../styles/variables" as *;

.services {
  margin-top: 160px;

  overflow: hidden;
  position: relative;
}

.services-info {
  h2 {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
  }

  p {
    color: $gray500;
    text-align: center;
    font-size: 1.2rem;
    padding-bottom: 4rem;
  }
}

.service-bg {
  z-index: 100;

  position: absolute;

  left: -120px;
  top: 100px;

  height: 967.94px;
  width: 1118.54px;
}

.service-bg svg {
  position: relative;

  top: 20px;

  rotate: 21.46deg;

  height: 671.38px;
  width: 937.96px;
}

.services-list {
  width: 100%;

  position: relative;
  z-index: 500;

  background: transparent;

  display: grid;
  justify-content: space-between;
  grid-template-columns: 350px 350px 350px;
  grid-row-gap: 36px;
}
